body
{
  font: 13px Helvetica, "Lucida Grande", Tahoma, Arial, sans-serif;
  background-color: #151a24;
  margin: 20px;
}

@font-face {
  font-family: 'Helenka';
  src: url('/fonts/HELENA.woff') format('woff'),
       url('/fonts/HELENA.ttf') format('truetype');
} 



h1
{
  font-family: 'Helenka', sanf-serif;
  font-size: 200%;
  color: #FFFFFF;
  padding: 12px 0 12px 90px;
  margin: 0 5% 0 5%;
}

h2
{
  font: 18em Helvetica;
  font-size: 150%;
  padding: 7px;
  border-bottom: 1px dotted #2B7CE9;

  color: #2B7CE9;
}

h3
{
  font-size: 100%;
}

pre.code
{
  display: block;
  padding: 8px;
  border: 1px dashed #ccc;
}

table
{
  border-collapse: collapse;
  /* border-spacing: 5px; */
  width: 90%;
  margin: 0 10% 0 5%;


}

th, td
{
  font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  /*border: 1px solid #888;*/
  padding: 3px;
}

col.first-column {
  width: 50%
}

col.second-column {
  width: 50%
}

textarea {
  width: 500px;
  height: 200px;
  border: 1px solid #888;
  background-color: #151a24;
  color: #FFFFFF;
}

input[type=text] {
  border: 1px solid #888;
}

#datasourceText, #googlespreadsheetText {
  width: 500px;
}

.info {
  color: gray;
}

a {
  color: gray;
}
a:hover {
  color: red;
}

#graph {
  width: 100%;
  height: 600px;
}

.box-rounded-corners {
  border-radius: 15px;
  background-color: #1b2a39;
}

.plot-container-2d {
  width: 1020px;
  height: 420px;
}

.title-container {
  width: 2000px;
  height: 100px;
  text-align: center;
  padding: 0px 0 0px 90px;
  margin: 0 5% 0 5%;

}

.title-image {
  margin: 10px 0 0 0;
}

.plot-container-3d {
  width: 1020px;
  height: 600px;
}

.bar-plot-container {
  width: 1020px;
  height: 340px;
}

/* 
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */